<%= form_with(model: project) do |form| %>
<% if project.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% project.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :title, class: label_class %>
          <%= form.text_field :title, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :donation_goal, class: label_class %>
          <%= form.text_field :donation_goal, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :user_id, class: label_class %>
          <%= form.text_field :user_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if project.persisted? %>
<%= link_to "Cancel", project, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", projects_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
